body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4c1d95, #7e22ce);
    background-image: url('teste.jpg');
    color: #fff;
}

Container {
    width: 100%;
    max-width: 400px;
    background: rgba(252, 250, 250, 0); 
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.342);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    backdrop-filter: blur(6px);
}

    p {
        font-size: 24px;
        margin-bottom: 20px;
        color: #ffffff;
        display: block;
        font-size: 16px;
        margin-top: 15px;
        color: #ffffff;
        text-align: left;
        width: 100%;
        padding: 10px;
        margin-top: 8px;
        border-radius: 25px;
        border: 1px solid rgba(255, 255, 255, 0.644); /* Borda branca semitransparente */
        background-color: transparent !important;  /* Fundo transparente */
        color: #fff ; /* Cor do texto em branco */
        font-size: 16px;
        outline: none;
        transition: border-color 0.3s ease; /* Transição para o foco */
    }