{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/novo_reg.css' %}">
    <title>Criado</title>
</head>
<body>
    <div class="Container">
        <h1>Novo registro criado:</h1>
        <p>Titulo:{{ titulo }}</p>
        <p>Observaçao:{{ observaçao }}</p>
        <p>Tipo:{{ modelo.modelo }}</p>
        <p>Unidade:{{ unidade.unidade }}</p>
        <p>Usuario:{{ usuario.nome }}</p>
    </div>
</html>